%h1 
  %a= link_to image_tag("logo.png", :alt => "Logo")+"#{title}" , root_url
.block#block-login
  %h2 Change your password
  .content.login
    - devise_error_messages!
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message.html_safe
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form" }) do |f|
      .group.wat-cf 
        = f.hidden_field :reset_password_token
      .group.wat-cf
        .left= f.label :password, "New password", :class => "label right"
        .right= f.password_field :password, :class => "text_field"
      .group.wat-cf
        .left= f.label :password_confirmation, "Confirm new password", :class => "label right" 
        .right= f.password_field :password_confirmation, :class => "text_field"
      .group.navform.wat-cf
        %button.button{ :type => "submit" }
          = image_tag "web-app-theme/icons/key.png"
          Change my password
    = render :partial => "devise/shared/links"
